{% extends "base.html" %}

{% block title %}
    <title>บันทึกข้อมูลประชากร</title>
{% endblock %} 

{% block content %}
    <h1 class="text-center" style="color: green;">แบบฟอร์มแก้ไขบันทึกข้อมูลประชากร</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">ชื่อลูกค้า</label>
            <input type="text" name="username" class="form-control" value="{{customer.username}}">
        </div>
        <div class="form-group">
            <label for="address">ที่อยู่</label>
            <input type="text" name="address" class="form-control" value="{{customer.address}}">
        </div>
        <div class="form-group mb-3">
            <label for="tel_number">เบอร์ติดต่อ</label>
            <input type="number" name="tel_number" class="form-control" value="{{customer.tel_number}}">
        </div>
        <input type="submit" value="อัพข้อมูล" class="btn btn-success">    
    </form>

{% endblock %}